.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.input-field {
    height: 30px;
    width: 200px;
    padding: 0;
    padding-left: 10px;
    font-size: 20px;
    border: solid 1px #3b3b3b;
    border-radius: 7px;
}

.input-label {
    font-weight: bold;
    position: relative;
    left: 6px;
    margin-bottom: 5px;
}

.requirnment-star {
    position: relative;
    font-weight: bold;
    color: red;
}