.report-container {
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-container hr {
    height: 2px;
    width: 100%;
}

.report-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    row-gap: 20px;
}

.report-header p {
    width: 800px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
}


.person-info-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
}

.report-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.report-body table {
    width: 100%;
    margin-left: 1.5%;
    border-collapse: collapse;
}

.report-body td {
    border: solid 1px #d1d1d1;
    min-width: 100px;
}

.week-days-cell {
    background-color: #ffa62b;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.report-table-row {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
}

.clinic-info-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #8d8b8b;
    /* font-weight: bold; */
}