.add-Meal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hidden {
  transition: 0.5s;
  display: none;
}

.meal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  aspect-ratio: 2/3;
  height: 500px;
  background-color: white;
  border-radius: 23px;
}

h1.form-title {
  margin-left: 20px;
}

.form-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #16697A;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #EDE7E3;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.form-button:disabled {
  cursor: default;
}

.form-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.form-button-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#cancel {
  background-color: #EDE7E3;
  color: #16697A;
}