.manage-food-container {
    margin: 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-food-wrapper {
    display: flex;
    justify-content: center;
}

.add-food {
    font-size: 100px;
    padding: 0;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100px;
    color: #FFA62B;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    transition: 0.7s;
    transform: scale(1);
    z-index: 0;

}

.add-food:hover {
    transition: 0.7s;
    transform: scale(1.1);
}


.hidden {
    display: none;
}