@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 99vw;
    height: 50px;
    position: sticky;
    top: 0px;
    margin-top: 0;
    z-index: 1;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0px 1px 1px #e9e9e9;
}

.left-header,
.right-header {
    width: 49%;
    height: 100%;
}

.left-header {
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.left-header>a {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    column-gap: 10px;
    color: inherit;
    text-decoration: inherit;
}

.logo {
    display: inline-block;
    width: 100%;
    min-height: 50px;
    background-image: url('../../../../public/header-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.app-title {
    font-size: 26px;
    font-weight: bold;
}


.right-header {
    margin-right: 3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 6px;
}

.user-avatar {
    aspect-ratio: 1/1;
    height: 5vh;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.user-avatar:active {
    transition: 0.7s;
    opacity: 0.5;
}

.user-wrapper {
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #a1a1a1;
    background-color: white;
    padding: 10px;
    position: relative;
    top: 63px;
    left: 60px;
    border-radius: 5px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.header-nav-button {
    text-align: center;
    text-decoration: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    height: 100%;
    transition: color 0.5s;
}

.header-nav-button:hover {
    color: #ffa62b;
}