.card-container {
    margin-top: 7vh;
    aspect-ratio: 2/3;
    height: 400px;
    /* background-color: #ede7e3; */
    border-radius: 12px;
    border: solid 1px #e6e5e5;
    color: #3b3b3b;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.37);
}

.upper-card {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.lower-card {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
}

.food-name {
    display: inline;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 1vw;
}

.food-name,
.food-amount,
.food-calories {
    margin-left: 1vw;
}

.edit-card,
.delete-card {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #FFA62B;
}

.delete-card {
    color: red;
}

.edit-card:active,
.delete-card:active {
    transform: scale(0.9);
}

.edit-delete-card {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delete-confirmation {
    position: relative;
    bottom: 60px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
    border: solid 1px #EDE7E3;
    background-color: white;
    border-radius: 12px;
}

.popup-button {
    appearance: button;
    backface-visibility: hidden;
    color: #16697A;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    background-color: #EDE7E3;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-size: 100%;
    aspect-ratio: 3/2;
    height: 44px;
    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s, box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.popup-button:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.hidden {
    display: none;
}

#yes-button {
    background-color: red;
    color: white;
}