.not-found-container {
    width: 100%;
    height: 100vh;
    background-image: url('/public/404.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.not-found-heading {
    margin-top: 50px;
}