.day-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 200px;
    overflow-y: auto;
}

.select-food-container {
    background-color: #0000007a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.select-food-wrapper {
    background-color: white;
    aspect-ratio: 2/3;
    height: 400px;
    border-radius: 10px;
}

.select-wrapper {
    height: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-food-wrapper>h1 {
    text-align: center;
}

.day-list-select {
    width: 200px;
}

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.day-list-input {
    width: 200px;
}

.button-wrapper {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 15px;
}

.button-wrapper button {
    margin-bottom: 20px;
}

.add-new-food {
    padding: 0;
    height: 70px;
    width: 70px;
    font-size: 70px;
    color: #16697a;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.7s;
    transform: scale(1);
}

.add-new-food:hover {
    transition: 0.7s;
    transform: scale(1.1);
}

.add-new-food:active {
    transform: scale(1);

}